.cell {
    height: 80px;
    background-color: green;
    border: 1px solid black;
    display: flex;
}

.black {
    background-color: black;
}

.white {
    background-color: white;
}

.disk {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
    border: 3px solid black;
    box-shadow: 3px 3px 15px #333
}