.cell {
    height: 80px;
    background-color: green;
    border: 1px solid black;
    display: flex;
}

.noir {
    background-color: black;
}

.blanc {
    background-color: white;
}

.pion {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    align-self: center;
}